services:
  red:
    build:
      context: .
      dockerfile: ./docker/nodejs/Dockerfile
    user: reddev
    command: "npm start"
    environment:
      NODE_ENV: development
    ports:
      - "8888:3000"
    volumes:
      - ./src:/home/reddev/red/src
      - ./docs:/home/reddev/red/docs
      - /home/reddev/red/src/node_modules
